<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901986198404-m9cs2sjf99pot0ccd29alnocb95q3h2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901986198404-m9cs2sjf99pot0ccd29alnocb95q3h2d</string>
	<key>API_KEY</key>
	<string>AIzaSyDXB1YuM6KpY_R1lIkeWoVZwRy26V724NU</string>
	<key>GCM_SENDER_ID</key>
	<string>901986198404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unismart</string>
	<key>PROJECT_ID</key>
	<string>unismart-2de1e</string>
	<key>STORAGE_BUCKET</key>
	<string>unismart-2de1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901986198404:ios:14bd24460b1a47080d33d1</string>
</dict>
</plist>